{
  "env": {
    "production": {
      "presets": [
        "@babel/preset-typescript",
        ["@babel/preset-env", {}],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-class-properties",
        "graphql-tag",
      ]
    },
    "development": {
      "presets": [
        "@babel/preset-typescript",
        ["@babel/preset-env", {}],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-class-properties",
        "graphql-tag",
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "presets": ["@babel/preset-typescript", "env", "react"],
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-class-properties",
        "graphql-tag",
      ]
    }
  }
}
