/*
 * Icon Font Food2
 * Made with love by Icons8 [ https://icons8.com/ ] using FontCustom [ https://github.com/FontCustom/fontcustom ]
 *
 * Contacts:
 *    [ https://icons8.com/contact ]
 *
 * Follow Icon8 on
 *    Twitter [ https://twitter.com/icons_8 ]
 *    Facebook [ https://www.facebook.com/Icons8 ]
 *    Google+ [ https://plus.google.com/+Icons8 ]
 *    GitHub [ https://github.com/icons8 ]
 */

@font-face {
  font-family: 'Food2';
  src: url('../fonts/Food2.eot');
  src: url('../fonts/Food2.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Food2.woff2') format('woff2'),
    url('../fonts/Food2.woff') format('woff'),
    url('../fonts/Food2.ttf') format('truetype'),
    url('../fonts/Food2.svg#Food2') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Food2';
    src: url('../fonts/Food2.svg#Food2') format('svg');
  }
}

[data-icons8]:before {
  content: attr(data-icons8);
}

.icons8,
[data-icons8]:before,
.icons8-avocado:before,
.icons8-beet:before,
.icons8-bread:before,
.icons8-carrot:before,
.icons8-cheese:before,
.icons8-cheeseburger:before,
.icons8-cherry:before,
.icons8-chinese-fried-rice:before,
.icons8-croissant:before,
.icons8-eggs:before,
.icons8-fish-food:before,
.icons8-food:before,
.icons8-food-and-wine:before,
.icons8-food-basket:before,
.icons8-food-wrapper:before,
.icons8-garlic:before,
.icons8-ham:before,
.icons8-italian-pizza:before,
.icons8-leaf-outline:before,
.icons8-olive:before,
.icons8-olive-oil:before,
.icons8-pancake:before,
.icons8-peanuts:before,
.icons8-pear:before,
.icons8-pie:before,
.icons8-piece-of-lemon-cake:before,
.icons8-potato:before,
.icons8-prawn:before,
.icons8-sandwich:before,
.icons8-sandwich-with-fried-egg:before,
.icons8-slice-of-bread-outline:before,
.icons8-soup-plate:before,
.icons8-soy:before,
.icons8-steak:before,
.icons8-sushi:before,
.icons8-taco:before,
.icons8-tapas:before,
.icons8-tomato:before,
.icons8-vegan-food:before,
.icons8-watermelon:before {
  display: inline-block;
  font-family: 'Food2';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icons8-avocado:before {
  content: '\f124';
}
.icons8-beet:before {
  content: '\f10c';
}
.icons8-bread:before {
  content: '\f11c';
}
.icons8-carrot:before {
  content: '\f11b';
}
.icons8-cheese:before {
  content: '\f11d';
}
.icons8-cheeseburger:before {
  content: '\f10d';
}
.icons8-cherry:before {
  content: '\f11f';
}
.icons8-chinese-fried-rice:before {
  content: '\f110';
}
.icons8-croissant:before {
  content: '\f121';
}
.icons8-eggs:before {
  content: '\f11e';
}
.icons8-fish-food:before {
  content: '\f104';
}
.icons8-food:before {
  content: '\f100';
}
.icons8-food-and-wine:before {
  content: '\f105';
}
.icons8-food-basket:before {
  content: '\f101';
}
.icons8-food-wrapper:before {
  content: '\f103';
}
.icons8-garlic:before {
  content: '\f10e';
}
.icons8-ham:before {
  content: '\f114';
}
.icons8-italian-pizza:before {
  content: '\f10f';
}
.icons8-leaf-outline:before {
  content: '\f120';
}
.icons8-olive:before {
  content: '\f125';
}
.icons8-olive-oil:before {
  content: '\f126';
}
.icons8-pancake:before {
  content: '\f123';
}
.icons8-peanuts:before {
  content: '\f10a';
}
.icons8-pear:before {
  content: '\f117';
}
.icons8-pie:before {
  content: '\f122';
}
.icons8-piece-of-lemon-cake:before {
  content: '\f127';
}
.icons8-potato:before {
  content: '\f10b';
}
.icons8-prawn:before {
  content: '\f106';
}
.icons8-sandwich:before {
  content: '\f11a';
}
.icons8-sandwich-with-fried-egg:before {
  content: '\f111';
}
.icons8-slice-of-bread-outline:before {
  content: '\f113';
}
.icons8-soup-plate:before {
  content: '\f112';
}
.icons8-soy:before {
  content: '\f109';
}
.icons8-steak:before {
  content: '\f108';
}
.icons8-sushi:before {
  content: '\f115';
}
.icons8-taco:before {
  content: '\f116';
}
.icons8-tapas:before {
  content: '\f119';
}
.icons8-tomato:before {
  content: '\f107';
}
.icons8-vegan-food:before {
  content: '\f102';
}
.icons8-watermelon:before {
  content: '\f118';
}
