/*
 * Icon Font Toast2
 * Made with love by Icons8 [ https://icons8.com/ ] using FontCustom [ https://github.com/FontCustom/fontcustom ]
 *
 * Contacts:
 *    [ https://icons8.com/contact ]
 *
 * Follow Icon8 on
 *    Twitter [ https://twitter.com/icons_8 ]
 *    Facebook [ https://www.facebook.com/Icons8 ]
 *    Google+ [ https://plus.google.com/+Icons8 ]
 *    GitHub [ https://github.com/icons8 ]
 */

@font-face {
  font-family: 'Toast2';
  src: url('../fonts/Toast2.eot');
  src: url('../fonts/Toast2.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Toast2.woff2') format('woff2'),
    url('../fonts/Toast2.woff') format('woff'),
    url('../fonts/Toast2.ttf') format('truetype'),
    url('../fonts/Toast2.svg#Toast2') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Toast2';
    src: url('../fonts/Toast2.svg#Toast2') format('svg');
  }
}

[data-icons8]:before {
  content: attr(data-icons8);
}

.icons8,
[data-icons8]:before,
.icons8-add:before,
.icons8-beach:before,
.icons8-calendar:before,
.icons8-calendar-delete:before,
.icons8-calendar-plus:before,
.icons8-check-list:before,
.icons8-chef-toque:before,
.icons8-copybook:before,
.icons8-delete-button:before,
.icons8-draft:before,
.icons8-edit:before,
.icons8-green-check-mark:before,
.icons8-heart:before,
.icons8-heart-outline:before,
.icons8-image:before,
.icons8-index:before,
.icons8-link:before,
.icons8-list-view:before,
.icons8-login:before,
.icons8-microwave:before,
.icons8-next-page:before,
.icons8-plus-math:before,
.icons8-run:before,
.icons8-sand-timer:before,
.icons8-skip-this-track:before,
.icons8-unavailable-cloud:before,
.icons8-view-more:before,
.icons8-waiter:before,
.icons8-walk:before,
.icons8-warn:before,
.icons8-x-button:before {
  display: inline-block;
  font-family: 'Toast2';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icons8-add:before {
  content: '\f100';
}
.icons8-beach:before {
  content: '\f11a';
}
.icons8-calendar:before {
  content: '\f112';
}
.icons8-calendar-delete:before {
  content: '\f114';
}
.icons8-calendar-plus:before {
  content: '\f113';
}
.icons8-check-list:before {
  content: '\f11e';
}
.icons8-chef-toque:before {
  content: '\f11c';
}
.icons8-copybook:before {
  content: '\f10d';
}
.icons8-delete-button:before {
  content: '\f101';
}
.icons8-draft:before {
  content: '\f10b';
}
.icons8-edit:before {
  content: '\f102';
}
.icons8-green-check-mark:before {
  content: '\f11d';
}
.icons8-heart:before {
  content: '\f108';
}
.icons8-heart-outline:before {
  content: '\f107';
}
.icons8-image:before {
  content: '\f105';
}
.icons8-index:before {
  content: '\f10f';
}
.icons8-link:before {
  content: '\f111';
}
.icons8-list-view:before {
  content: '\f10e';
}
.icons8-login:before {
  content: '\f10c';
}
.icons8-microwave:before {
  content: '\f116';
}
.icons8-next-page:before {
  content: '\f109';
}
.icons8-plus-math:before {
  content: '\f103';
}
.icons8-run:before {
  content: '\f118';
}
.icons8-sand-timer:before {
  content: '\f117';
}
.icons8-skip-this-track:before {
  content: '\f11b';
}
.icons8-unavailable-cloud:before {
  content: '\f110';
}
.icons8-view-more:before {
  content: '\f10a';
}
.icons8-waiter:before {
  content: '\f115';
}
.icons8-walk:before {
  content: '\f119';
}
.icons8-warn:before {
  content: '\f106';
}
.icons8-x-button:before {
  content: '\f104';
}
